@import url("./reset.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #3873a3;
}

#cardholder {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  background-color: #38a353;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

#card-body {
  width: 90%;
  height: 90%;
  background-color: #fbffed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

img {
  max-width: 150px;
  min-width: 100px;
  border-radius: 15px;
  margin: 10px;
}

#info {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact,
#company {
  color: #1e592d;
  text-align: center;
}

#contact {
  margin: 10px;
}

#company {
  font-family: "ivysoft-variable", sans-serif;
  color: #3873a3;
  margin: 10px;
}

#company h1 {
  font-variation-settings: "slnt" 0, "wght" 600;
  font-size: 2.5em;
}

#company p {
  font-variation-settings: "slnt" 1, "wght" 400;
  font-style: italic;
  line-height: 0.5;
  font-size: 0.9em;
}

@media screen and (min-width: 500px) {
  #cardholder {
    width: 90vw;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  #card-body {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  img {
    max-width: 250px;
    min-width: 100px;
  }

  #info {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #contact {
    text-align: left;
    margin: 15px;
  }

  #company {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  #cardholder {
    width: 90vw;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  #card-body {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  img {
    max-width: 412px;
    min-width: 200px;
    margin: 30px;
  }

  #info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #contact {
    font-size: 1.2em;
  }

  #company {
    font-size: 1.5em;
  }
}
